.product {
    padding: 5px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    max-height: 430px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}
.image-section{
    display: grid;
    grid-template-columns: auto auto;
}
.product-info {
    margin-bottom: 15px;
}

.product-image {
    margin: .75rem;
    max-height: 200px;
    max-width: 125px;

}

h2 {
    font-size: 21px;
    line-height: 27.3px;
}

.image {
    display: grid;
  
}

.image p {
    margin-left: .45rem;
    width: 70%;
    font-size: x-small;
}

a {
    font-size: small;
    font-weight: 100;
    text-decoration: none;
}