.product{
    display: flex;
    padding:10px;
    margin: 10px;
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}


.image-section {
    display: grid;
    grid-template-columns: auto auto;
}

.product-info {
    margin-bottom: 15px;
}

.product-image {
    margin: .75rem;
    max-height: 200px;
    max-width: 115px;

}

h2 {
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 2.5px;
    font-size: 21px;
    line-height: 27.3px;
}

.image {
    display: grid;

}

.image p {
    color:black;
    font-weight: bold;
    margin-left: .45rem;
    width: 70%;
    font-size: xx-small;
}

a {
    color:#007185 ;
    font-size: x-small;
    font-weight: bold;
    text-decoration: none;
    height: 100px;
    margin: 10px;
}