* {
    margin: 0;
    padding: 0;
    }

.header {
    width: 100%;
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    top: 0;
    position: sticky;
}

.header-logo {
    object-fit: contain;
    width: 100px;
    height: 60px;
}

.search-input{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header_searchicon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.option-one {
    font-size: 13px;
}

.option-two {
    font-size: 16px;
    font-weight: 600;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-options {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.basket{
    display: flex;
    align-items: center;
    color: white;
}
.basket-count{
    margin-left: 10px;
    margin-right: 10px;
}
span {
    color: #ffff;
}